<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="content-body">
      <main class="board-main">
        <div class="board-object">
          <span id="borad-ID">등록번호 : <%=data.BoradId%></span>
          <span class="board-title"> 제목 : <%=data.title%></span>
          <span class="board-date"> 날짜 : <%=data.date%></span>
          <img class="board-writer-img" src="" />
          <span class="board-writer"> 작성자 : <%=data.writer%></span>
          <span class="board-content"> <%=data.content%></span>
          <span class="board-tag"> 태그 : <%=data.tag%></span>
          <input type="text" id="board-id" value="<%=data.BoardId%>" hidden />
        </div>
        <button
          type="button"
          class="boardLike"
          value="<%=data.BoardId%>"
          onclick="BoardLike(this)"
        >
          <%=likecount%>
        </button>
      </main>
      <button type="button" class="board-delete" onclick="BoardDelete(this)">
        삭제하기
      </button>

      <main class="comment-main">
        <% for (let i = 0; i < commentData.length; i++) { %>
        <div class="comment-object">
          <span class="comment-writer">
            작성자 : <%=commentData[i].writer%></span
          >
          <span class="comment-date"> <%=commentData[i].date%></span>
          <span class="comment-content"><%=commentData[i].content%></span>
        </div>
        <button
          type="button"
          value="<%=commentData[i].commentId%>"
          onclick="deleteComment(this)"
        >
          삭제하기
        </button>
        <% } %>
      </main>

      <footer class="board-comment">
        <form name="comment-Write">
          <div id="editor"></div>
          <button type="button" class="board-comment" onclick="commentWrite()">
            댓글달기
          </button>
        </form>
      </footer>
    </div>
  </body>
  <script></script>
</html>
