<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/1a34eeff0c.js"crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous" ></script>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Jua&family=Monoton&display=swap" rel="stylesheet">
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 부트스트랩cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/css/profileHeader.css" />
    <!-- 소켓io 경로 -->
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/css/profile.css">
    <title>Document</title>
  </head>

  <body>
    <div class="main_container">
      <div class="head1 d-flex justify-content-between">
        <div class="head1-logo "><img src="/public/default/logo-removebg.png" style="width: 30px; height: 30px;"></img><span>CLAVI</span></div>
        
      </div>

      <!-- 컨테이너 -->
      <div class="main_content" >

        <!-- 클래스 리스트 영역 -->
        <div class="class_list itemM">
          <div id="class-menu ">참여한 클래스</div>
          <!-- 클래스 목록 -->
          <div class="classes">
            <% for(let i = 0; i<Classes.length; i++){ %>
              <div data-class-id="<%=ClassesId[i]%>" onclick="enterClass(this)"><%=Classes[i]%></div>
              <%} %>
          </div>
         
          .
            <% if(data.userType == "leader" ){ %>
              <form name="ClassMake">
                <input type="text" name="className" placeholder="className">
                <button type="button" onclick="makeClass()">클래스 만들기</button>
              </form>
            <% } %> 
      
            <form name="ClassSignin">
              <input type="text" name="token" placeholder="token">
              <button type="button" onclick="signinClass()">클래스 참여하기</button>
            </form>
        </div>

        <!-- 로그아웃, 탈퇴 영역 -->
        <div class="exit-zone itemM">
          <button type="button" onclick="logout()">로그아웃</button>
          <button type="button" onclick="deleteUser(`<%= data.id %>`)">탈퇴하기</button>
        </div>

        <!-- 유저 정보 -->
        <div class="userInfo itemM">
          <div class="user-content">
          <!-- 프로필사진 -->
            <div class="profile_img_div"><img class="profile_img" src="<%= data.profileImgPath%>"></div>
            <div>
              <form onsubmit="fileupload(event)" name="form-upload">
                <div class="img-save">
                <input type="file" id="dynamic" /><button type="submit"  class="imgEdit" >사진 등록</button>
              </div>
              </form>
            </div>
            <!-- 회원 정보 -->
            <div class="profile-detail">
              <form name="form-profile" id="profile-form">
                <table>
                  <tr>
                    <th scope="row">이름</th>
                    <td><input type="text" id="name" value="<%= data.name %>" /></td>
                  </tr>
                  <tr>
                    <th scope="row">이메일</th>
                    <td><input type="email" id="email" value="<%= data.email%>" /></td>
                  </tr>
                  <tr>
                    <th scope="row">전화번호</th>
                    <td><input type="number" id="phone" value="<%= data.phone %>" /></td>
                  </tr>
                </table>
                <br/>
                <button id="editbutton" type="button" onclick="registerEdit(`<%= data.id %>`)">Edit</button>
              </form>
            </div>
          </div>
        </div>

        <!-- 플래너, 노트 존 -->
        <div class="my-note itemM">
          <div id="myPlanner"></div>
          <div id="myNote"></div>
        </div>

        <!-- 메모 -->
        <div class="memo-zone itemM"></div>

        <!-- 내가 쓴 글 -->
        <div class="myBoards itemM"></div>
      </div>
    </div>

    <script src="/public/js/profile.js"></script>
    <script src="/public/js/header.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  <script>
    // console.log(`<%= data.profileImgPath %>`)
    // const pathdata = "<%= data.profileImgPath %>"
    window.localStorage.setItem("profileImgPath", "<%= data.profileImgPath %>");
      //클래스 들어가기 함수
      async function signinClass(){
        const form = document.forms['ClassSignin']
        const data = {
          token : form.token.value
        }
        const res = await axios({
          method : 'POST',
          url : '/class/signin',
          data : data
        })
        if(res) {
          alert('참여완료!')
          window.location.reload()
        } else {
          alert('참여실패!')
        }
      }

  </script>
</html>
